*,
*::before,
*::after {
  @include box-sizing;
  padding: 0;
  margin: 0;
}

html { scroll-behavior: smooth; }
span { display: inline-block; }
p { line-height: 1.5; }
p::first-letter { text-transform: uppercase; }
body {
  font-family: sans-serif;
  @include box-sizing;
}

a { 
  display: inline-block;
  text-decoration: none; 
  @include transition;
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1366px;
  width: 91.2%; 
  margin: 0 auto;
}