*,
*::before,
*::after {
  @include box-sizing;
  padding: 0;
  margin: 0;
}

html { scroll-behavior: smooth; }
span { display: inline-block; }
p { line-height: 2; }
p::first-letter { text-transform: uppercase; }
body {
  font-family: sans-serif;
  @include box-sizing;
}

a { 
  display: inline-block;
  text-decoration: none; 
  @include transition;
}

li {
  display: inline-block;
  list-style-type: none;
}

.section-title {
  color: $blueLight;
  font-size: 43px;
  text-transform: capitalize;
}

.section-para {
  color: $greyMid;
  font-size: 18px;
  word-spacing: 3px;
}

.button {
  text-transform: capitalize;
  color: $white;
  font-size: 19px;
  background-color: $blueMid;
  padding: 14px 30px;

  &:hover {
    background-color: $white;
    color: $blueLight;
    @include box-shadow(inset 0 0 0 3px $blueLight);
  }
}

/*for wrapper*/
.wrapper {
  max-width: 1366px;
  width: 91.2%; 
  margin: 0 auto;
}